.ProductCard 
{
  .card{
  color: rgba(0, 0, 0, 0.644);
   max-width: 95%;
   max-height: 100%;
   background-color: rgba(128, 128, 128, 0.404);
  }
  .card-img{
    max-width: 450px;
    max-height: 400px;
  }
}
