.ProductCard 
{
  margin-top: 20px;
  .card-body{
  display: block;
  color: whitesmoke;
   height: 450px;
   width: 350px;

   background-color: slategray;
  }
  .card-img{
    height: 250px;
    width: auto;
    margin-top: 15px;
    margin-left: 10%;
  }
  .view-single-product-button{
    margin-top: 20px;
    margin-left: 10%;
    background-color: whitesmoke;
  }
}
